@import url("https://fonts.googleapis.com/css?family=Poppins");

@font-face {
  font-family: "kaushan";
  src: url(./Font/KaushanScript-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #292929;
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  /* cursor: none; */
  /* overflow: hidden; */
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* ---------- MAIN IMAGE ----------  */

.main-image {
  background: url(./img/background-accueil.jpg) center / cover no-repeat;
  width: 100%;
  height: 100vh;
  z-index: -1000;
}

/*-------- Navbar----------- */
.navbar a {
  color: #843ffb;
}

.navbar a:hover {
  color: white;
  transition: 0.3s;
}

#side-bar {
  position: absolute;
  width: 230px;
  height: 100%;
  background: #41414196;
  top: 0;
  left: -230px;
  transition: 0.5s ease-out; 
  z-index: 3; 
}

#side-bar.active {
  left: 0;
}

.active span {
  position: absolute;
}

.active span:nth-child(1) {
  transform: rotate(45deg);
}
.active span:nth-child(2) {
  opacity: 0;
}
.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.toggle-btn {
  position: absolute;
  top: 30px;
  left: 280px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.toggle-btn span {
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background: rgb(63, 63, 255);
  display: block;
  margin-top: 4px;
  transition: 0.3s ease;
}
li {
  color: #292929;
  list-style: none;
  font-size: 2.5rem;
  cursor: pointer;
  padding-left: 5px;
}
li:hover {
  background: #292929;
  color: #fcfcfb;
}

/* ----------------------------- */

#main-title {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: 3rem auto;
  font-size: 2.8em;
  font-family: "kaushan";
}

/* container socials media */

.media-container {
  background: #41414196;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2rem;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.8rem;
}

.media-btn a :hover {
  transform: scale(1.2);
  transition: 0.5s;
}

/* --------------------------- */

/* ----------CSS Mouse-effect -------*/

.mouse {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  mix-blend-mode: color-dodge;
}

#cursor {
  height: 12px;
  width: 12px;
  background: violet;
  border: 1px solid violet;
  border-radius: 50%;
  transition: 0.1s;
}

#first-cercle {
  height: 50px;
  width: 50px;
  background: #2128bd;
  border: 1px solid blue;
  border-radius: 50%;
  transition: 0.2s;
}

#second-cercle {
  height: 80px;
  width: 80px;
  background: rgba(172, 26, 26, 0.559);
  border: 1px solid rgba(172, 26, 26, 0.559);
  border-radius: 50%;
  transition: 0.3s;
}

/* ----------PRESENTATION PAGE----- */

.presentation-page {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
}

.cv {
  height: 30%;
  display: flex;
  justify-content: space-around;
  margin: 7% auto;
  width: 70%;
}

.text-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 5%;
}

#presentationImg {
  opacity: 0;
  transform: translateX(-200px);
  transition: 1.3s ease-in-out;
}

#presentationImg img {
  width: 100%;
  max-height: 80%;
  border-radius: 50%;
}

/* ----------CV CARDS----- */

.cv-cards {
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.card {
  position: relative;
  width: 20%;
  height: 150px;
  background: #292929;
  transition: 0.5s;
}
/* ----------CV CARDS EFFECTS----- */
.card:hover {
  height: 400px;
}

.card .lines {
  position: absolute;
  inset: 0;
  background: #000;
  overflow: hidden;
}

.card .lines::before{
  content:'';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 600px;
  height: 120px;
  background: linear-gradient(transparent,#45f3ff,#45f3ff,#45f3ff,transparent);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0%{
    transform: translate(-50%, 50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, 50%) rotate(360deg);
  }
}

.card .lines::after{
  content:'';
  position: absolute;
  inset: 2px;
  background: #1f1f1f;
}

.card .imgBox{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  background: #000;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
}

.card:hover .imgBox{
  width: 150px;
  height: 150px;
}


.card .imgBox::before{
  content:'';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 120px;
  transform: translate(-50%, -50%);
  background: linear-gradient(transparent,#ff3c7b,#ff3c7b,#ff3c7b,transparent);
  animation: animate2 6s linear infinite;
}

@keyframes animate2 {
  0%{
    transform: translate(-50%, 50%) rotate(360deg);
  }
  100%{
    transform: translate(-50%, 50%) rotate(0deg);
  }
}

.card .imgBox::after{
  content:'';
  position: absolute;
  inset: 3px;
  background: #1f1f1f;
}

.card-1 .imgBox img{
  position: absolute;  
  top: 5px;
  left: 5px;
  z-index: 1;
  width: calc(100% - 10px);
  height: calc(100% - 10px);;

}